:root {
  --aaheli-red: #e33442;
  --aaheli-white: #ffffff;
  --aaheli-grey: #6b6b6b;
  --aaheli-light-grey: #dedede;
  --aaheli-lightest-grey: #fafbfa;
  --aaheli-black: #000000;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--aaheli-light-grey); /* color of the scroll thumb */
  border-radius: 20px; /* creates padding around scroll thumb */
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: large;
}
body {
  background-image: url("/images/Background.png");
  background-size: cover;
  background-color: var(--aaheli-lightest-grey);
}
.header > ul > li > a {
  text-decoration: none;
}

.header > ul > li > a > img {
  margin: 20px 10px 10px 26px;
  width: 42px;
  height: 40px;
  border-radius: 100%;
}

.link-btn {
  text-decoration: none;
  color: var(--aaheli-white);
  margin: 0;
}

.logo-title {
  font-size: 25px;
}

.header > ul > li:nth-child(2) {
  margin-top: 1.4%;
  margin-left: 0.4%;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: var(--aaheli-red);
}

li {
  float: left;
}

.footer {
  background-color: var(--aaheli-red);
  margin-top: 5.7%;
  padding: 2%;
  flex-shrink: 0;
}

#login-btn {
  float: right;
  padding: 10px;
  margin-right: 3%;
  margin-top: 1%;
}

#about {
  float: right;
  padding: 10px;
  margin-right: 20px;
}

#contact {
  float: right;
  padding: 10px;
  margin-right: 4%;
}

#copyright {
  padding: 10px;
}

.password-card > img {
  margin-top: 5.6%;
  height: 25%;
  width: 20%;
}

.password-form > input[type="password"] {
  border: 1px solid rgba(107, 107, 107, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 16px;
  width: 77%;
  font-size: 12px;
  outline: none;
  margin-top: 5%;
}

.password-form > input[type="submit"],
.password-form > input[type="button"] {
  font-family: "Open Sans";
  border-radius: 8px;
  background-color: var(--aaheli-black);
  color: var(--aaheli-white);
  border: none;
  font-size: 16px;
  margin-top: 4%;
  padding: 12px 16px;
  width: 76.7%;
  cursor: pointer;
}

.password-form > input[type="submit"] {
  margin-top: 8%;
}
.password-form > input[type="submit"]:hover,
.password-form > input[type="button"]:hover {
  background-color: var(--aaheli-grey);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-card {
  text-align: center;
  margin-top: 7%;
  background-color: var(--aaheli-white);
  box-shadow: -8px 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 38px;
  min-height: 50vh;
  width: 25%;
}
